<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <form
    action="http://localhost:8080/all"
    method="GET">
    <button>
      Get Dogs
    </button>
  </form>

  <form
    action="http://localhost:8080/search"
    method="GET">
    <input name="search" />
    <button>Find Dogs</button>
  </form>

</body>
</html>